<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Node Productive | Index</title>
</head>

<body>
    <%- include('partials/header') %>

        <main class="wrapper">
            <h1 class="title">Welcome to Node Productive</h1>
            <p>Organize your tasks and rise up productivity!</p>
            <p>
                Node Productive provides a simple way to manage your daily tasks, even at work,
                study or home. Create personalized lists, add tasks easily and follow up your
                progress. Never forget an important task.
            </p>
        </main>
</body>

</html>